
.people-list ul li {
  padding: 8px 40px;
  margin-bottom: 3px;
  cursor: default;
  border-radius: 6px;
  background-color: #fff;
}

.people-list ul li:hover {
  background-color: rgb(20, 106, 177);
  color: #fff;
}

.people-list ul li:hover img{
  border: 2px groove #fff;
}

.people-img {
  display: block;
  flex-basis: 60px;
}

.people-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.people-name {
  display: block;
  line-height: 40px;
}

@media screen and (max-width: 700px) {
  .people-list ul li {
    padding: 8px 20px;
  }
}
